# My First Notebook

There are some necessary libraries to import for making car price prediction.

In [123]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
import warnings
warnings.filterwarnings('ignore')

# 1.Load the data

First thing that we want to do is loading the data from CSV file. The amount of data is the input for the price prediction of the cars.

In [124]:
# Load the dataset
df = pd.read_csv('car_price_dataset.csv')

In [137]:
#Let's check the first five rows of the data
print(df.head())
print(df.shape)

      name  year  selling_price  km_driven    fuel seller_type transmission  \
0   Maruti  2014         450000     145500  Diesel  Individual       Manual
1    Skoda  2014         370000     120000  Diesel  Individual       Manual
2    Honda  2006         158000     140000  Petrol  Individual       Manual
3  Hyundai  2010         225000     127000  Diesel  Individual       Manual
4   Maruti  2007         130000     120000  Petrol  Individual       Manual

          owner  mileage   engine   max_power  seats  log_selling_price
0   First Owner    23.40  1248 CC      74 bhp    5.0          13.017003
1  Second Owner    21.14  1498 CC  103.52 bhp    5.0          12.821258
2   Third Owner    17.70  1497 CC      78 bhp    5.0          11.970350
3   First Owner    23.00  1396 CC      90 bhp    5.0          12.323856
4   First Owner    16.10  1298 CC    88.2 bhp    5.0          11.775290
(8033, 13)

You can see a lot of the data so we will

# 2. EDA

In [126]:
print(df.head())

                           name  year  selling_price  km_driven    fuel  \
0        Maruti Swift Dzire VDI  2014         450000     145500  Diesel
1  Skoda Rapid 1.5 TDI Ambition  2014         370000     120000  Diesel
2      Honda City 2017-2020 EXi  2006         158000     140000  Petrol
3     Hyundai i20 Sportz Diesel  2010         225000     127000  Diesel
4        Maruti Swift VXI BSIII  2007         130000     120000  Petrol

  seller_type transmission         owner     mileage   engine   max_power  \
0  Individual       Manual   First Owner   23.4 kmpl  1248 CC      74 bhp
1  Individual       Manual  Second Owner  21.14 kmpl  1498 CC  103.52 bhp
2  Individual       Manual   Third Owner   17.7 kmpl  1497 CC      78 bhp
3  Individual       Manual   First Owner   23.0 kmpl  1396 CC      90 bhp
4  Individual       Manual   First Owner   16.1 kmpl  1298 CC    88.2 bhp

                     torque  seats
0            190Nm@ 2000rpm    5.0
1       250Nm@ 1500-2500rpm    5.0
2     12.7@ 2,700(kgm@ rpm)    5.0
3  22.4 kgm at 1750-2750rpm    5.0
4     11.5@ 4,500(kgm@ rpm)    5.0

In [127]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df["owner"] = le.fit_transform(df["owner"])

df["owner"].unique()

array([0, 2, 4, 1, 3])

In [128]:
from sklearn.preprocessing import LabelEncoder
df = pd.read_csv('car_price_dataset.csv')
owner_mapping = {'First Owner': 1, 'Second Owner': 2, 'Third Owner': 3, 'Fourth & Above Owner' : 4, 'Test Drive Car' : 5}
le = LabelEncoder()


print(df["owner"].map(owner_mapping))

0       1
1       2
2       3
3       1
4       1
       ..
8123    1
8124    4
8125    1
8126    1
8127    1
Name: owner, Length: 8128, dtype: int64

In [129]:
# Remove rows with 'CNG' and 'LPG' in the 'fuel' column
df = df[~df['fuel'].isin(['CNG', 'LPG'])]

In [130]:
# Remove "kmpl" from 'mileage' column and convert to numerical type
df['mileage'] = df['mileage'].str.split().str[0].astype(float)

In [131]:
# Extract the first word from 'brand' column
df['name'] = df['name'].str.split().str[0]

In [132]:
# Drop the 'torque' feature
df = df.drop('torque', axis=1)

In [135]:
df['log_selling_price'] = np.log(df['selling_price'])
pred_y = np.log(df['selling_price'])
pred_y = np.exp(pred_y)
pred_y_original_scale = np.exp(pred_y)
print(df.info())
print(df.shape)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8033 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               8033 non-null   object
 1   year               8033 non-null   int64
 2   selling_price      8033 non-null   int64
 3   km_driven          8033 non-null   int64
 4   fuel               8033 non-null   object
 5   seller_type        8033 non-null   object
 6   transmission       8033 non-null   object
 7   owner              8033 non-null   object
 8   mileage            7819 non-null   float64
 9   engine             7819 non-null   object
 10  max_power          7825 non-null   object
 11  seats              7819 non-null   float64
 12  log_selling_price  8033 non-null   float64
dtypes: float64(3), int64(3), object(7)
memory usage: 878.6+ KB
None
(8033, 13)